.hidden {
  display: none;
}

.click {
  cursor: pointer;
  height: 35%;
  width: 30px;
}

.click svg {
  fill: gray;
  height: 100%;
  width: 100%;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body > main {
  flex: 1!important;
}
